.videocard {
  color: white;
  width: 500px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.videocard:hover {
  transform: scale(1.09);
}

.videocard > img {
  height: 300px;
  object-fit: contain;
  width: 500px;
}

.video_stats {
  display: none;
}
.videocard:hover > .video_stats {
  display: inline;
}
